* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    z-index: 99;
    justify-content: flex-start;
}

#nav img{
    height: 75px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500px;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}


#main {
    
}
