body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #banner {
    background-color: #4285f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #banner span {
    color: #fff;
    font-size: 1.5em;
  }
  
  #clock {
    font-size: 16em;
    font-weight: bold;
    color: #fff;
  }
  